.ag-row .ag-cell {
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
  text-align: left!important;
}


.ag-theme-alpine {
    --ag-background-color: #fff!important;
}




.ag-theme-alpine-dark {
    --ag-background-color: #171!important;
}

